{% extends 'vcboard/base.html' %}
{% load i18n vcboard_tags %}

{% block title %}{{ block.super }}: {{ thread }}{% endblock %}
{% block vc-breadcrumb %}
{{ block.super }} {% for f in forum.hierarchy %}
&rsaquo; <a href="{{ f.get_absolute_url }}">{{ f.name }}</a>
{% endfor %} &rsaquo; {{ thread.subject }}
{% endblock %}

{% block vc-content %}
<h2>{{ thread.subject }}</h2>
{% get_forum_perms forum as forum_perms %}

{% include 'vcboard/_thread_controls.html' %}
<table class="thread-table">
    {% with thread as post %}
    {% include 'vcboard/_thread_post.html' %}
    {% endwith %}
    {% for post in page.object_list %}
    {% include 'vcboard/_thread_post.html' %}
    {% endfor %}
</table>
{% include 'vcboard/_thread_controls.html' %}
{% include 'vcboard/_thread_pagination.html' %}
{% endblock %}
